<span>The usual weather in</span>

<select-input
  options={{model.cities}}
  on-change={{action 'onCityChange'}} />

<span>around</span>

<select-input
  isDisabled={{true}}
  options={{model.months}} />

<span>is…</span>

{{outlet}}
